body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3 {
    color: #00ADB5;
    font-weight: bold;
}

section {
    padding: 50px 0;
}

.container-md {
    max-width: 800px;
    margin: auto;
}

.list-group-item {
    background-color: #393E46;
    border: none;
    padding: 15px;
}

.btn {
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00adb5;
}

.ratio {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; 
}

.col-md-6 {
    padding: 15px; 
}

p {
    line-height: 1.6;
}

@media (max-width: 768px) {
    .container-md {
        padding: 0 15px;
    }
}
